#possibility-container{
    display:flex ;
    flex-direction: row;
}

.possibility-img{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.possibility-img img{
    width: 100%;
    height: 100%;
}

.possibility-content{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin-left: 1rem;
}

.possibility-content h4{
    color: #ff8a71;

}

.possibility-content p{
    font-size: 16px;
    line-height: 30px;
    color: #81afdd;
    }

.possibility-content h1{
    font-weight: 800;
    font-size: 34px;
    line-height: 45px;   
}

@media screen and (max-width: 950px) {
    #possibility-container{
        flex-direction: column;
    }

    .possibility-img{
        margin: 1rem 0;
    }

    .possibility-content{
        margin-top: 2rem;
    }

}